.seafile-sync-conflict-buttons {
	display: flex;
	gap: 8px;
	margin-top: 12px;
	flex-wrap: wrap;
}

.seafile-sync-conflict-apply-all {
	margin-top: 12px;
}

.seafile-sync-conflict-skip {
	margin-top: 12px;
}
